<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chat</title>
  <style>
    @font-face {
    font-family: "Willful";
    src: local('Willful'),url("./fonts/willful/Willful.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "WillfulAlter";
    src: local('Willful'),url("./fonts/willful/Willful.otf") format("opentype");
  }
  
  html,body {
      margin: 0;
      font-family: "Willful";
      font-size: 20px;
      height: 100%;
  }
  
  #root{
    height: 100%;
  }
  </style>
  </head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>