html,body {
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/277202535486324746/1155206634516267118/image.png');
    background-repeat: no-repeat;
    background-size: 100%;  
}
